<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>Decision Maker</title>
  <meta charset="UTF-8" />

  <!-- External CSS -->
  <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" /> -->

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- External Font from Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700" rel="stylesheet">

  <!-- Internal CSS -->
  <link rel="stylesheet" href="/styles/create.css" type="text/css">
</head>

<body>
    <!-- <h1>Decision Maker</h1> -->
    <form id='survey_create_form' action="/create" method="POST">

        <div class="question_div">
          <input class="survey_input_question" type="text" placeholder="Question" name="survey_input_question">
        </div>

        <div class="yellowBackground">
          <input class="survey_input_answer1" type="text" placeholder="Answer 1" name="answer1">
          <input class="survey_input_description" type="text" placeholder="Description" name="survey_input_description1">
        </div>

        <div class="pinkBackground">
          <input class="survey_input_answer2" type="text" placeholder="Answer 2" name="answer2">
          <input class="survey_input_description" type="text" placeholder="Description" name="survey_input_description2">
        </div>

        <div class="greenBackground">
          <input class="survey_input_answer3" type="text" placeholder="Answer 3" name="answer3">
          <input class="survey_input_description" type="text" placeholder="Description" name="survey_input_description3">
        </div>

        <div class="blueBackground">
          <input class="survey_input_answer4" type="text" placeholder="Answer 4" name="answer4">
          <input class="survey_input_description" type="text" placeholder="Description" name="survey_input_description4">
          <input class="submit" type="submit" value="Proceed"> 
        </div>
        
    </form>
</body>

</html>