<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Decision Maker</title>
  <meta charset="UTF-8" />

	<!-- External CSS -->
	<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

	<link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script" rel="stylesheet">

	<link rel="stylesheet" href="/styles/layout.css" type="text/css" href="">
</head>


<body>
  <h1>Decision Maker</h1>
  <form class="admin_create_form" action="/">
    <input class="admin_input_email" type="email" placeholder="Please, type your e-mail">
    <input type="submit" value="Get Started">
  </form>
</body>

</html>