h1{
	color: grey;
	margin: 50px auto;
	text-align: center; 
}
.btn-primary{
	width: 30%; 
	// float: center; 
	// display: flex;
	// justify-content: center;
	// display: block;
	margin: 50px auto;
	// text-align: center;
	position: relative;
    // transition: .5s ease;
	border-radius: 20px;
	background-color: #E83F6F;
	border-color: #E83F6F;
	// position: fixed;
	// bottom: 50px;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active {
  color: #fff;
  background-color: #ed6c91 !important;
  border-color: #ed6c91; /*+3 from 0to255*/
}

img{
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: -225px;
	width: 200px;
	// z-index: 20;
	// background-color: orange;
	// vertical-align: middle;
}

#yellow{
	background-color: #FFBF00;
	width: 50%;
	color: #FFBF00;
	height: 50px;
}

#pink{
	background-color: #E83F6F;
	width: 50%;
	color: #E83F6F;
	height: 50px;
}

#green{
	background-color: #32936F;
	width: 50%;
	color: #32936F;
	height: 50px;
}

#blue{
	background-color: #2274A5;
	width: 50%;
	color: #2274A5;
	height: 50px;
}